:root {
  --color-primary: rgba(242,84,125,1);
  --color-grey-dark: #5b5b5b;
  --color-grey-light: #9f9f9f;
  --color-offwhite: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-offwhite);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

h1 {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: -1.5rem;
}

h2 {
  color: var(--color-grey-dark);
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.calculateButton {
  background-color: var(--color-primary);
  border: none;
  color: white;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 14rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  transition: all 0.2s;
}
.calculateButton:hover {
  background-color: #fd4979;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.calculateButton:focus {
  outline: none;
}

.inputs {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
@media only screen and (max-width: 37.5em) {
  .inputs {
    max-width: 70vw;
  }
}
.inputs-weight {
  position: relative;
}
.inputs-carbs {
  position: relative;
}

.inputBox {
  width: 17rem;
  height: 4rem;
  border: 1px solid var(--color-grey-light);
  transition: all 0.2s;
  font-size: 1.8rem;
  background-clip: padding-box;
  text-align: center;
}
.inputBox:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.weightInput {
  margin-right: 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .weightInput {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.placeholder {
  position: absolute;
  color: var(--color-grey-light);
  font-size: 1.3rem;
  pointer-events: none;
}
.placeholder-weight {
  left: 6px;
  top: 10px;
}
.placeholder-carbs {
  left: 6px;
  top: 10px;
}

.inputBox:focus ~ .placeholder,
.inputBox:valid ~ .placeholder {
  transition: all 0.2s;
  top: -20px;
  transform: scale(0.9);
  color: var(--color-grey-dark);
  left: -4px;
}
@media only screen and (max-width: 37.5em) {
  .inputBox:focus ~ .placeholder,
.inputBox:valid ~ .placeholder {
    top: -15px;
  }
}

.outputs {
  width: 17rem;
  height: 5rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  color: var(--color-grey-dark);
  font-size: 2.4rem;
}

.footer {
  position: absolute;
  width: 100%;
  height: 10rem;
  font-weight: 300;
  text-align: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-dark);
  font-size: 1.5rem;
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
